section { /* anything thats a section this styling will apply*/
  height: 500px;
  background-color: white;
  border: solid black 1px; 
}

.hero { 
  background-color:#c0b8b8;       /* overides background color to change to another color*/
  height: 100vh; /*100% of viewport height*/
}

footer { 
  height: 500px; 
  background-color: black;
}