.App {
  background-color:#CEC8E4;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  font-size: 19px;
}

.textHeader{
  align-self: center;
}

.ListMain{
  align-self: center;
}

.question-count{
  margin-top: 25px; 
}

.Container {
  display: table-cell;
  vertical-align: middle;
  align-self: center;
}
.scoreBoard{ 
  color:rgb(65, 27, 213);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border:10px solid rgb(192, 174, 248);
  margin-right: 2px;
  padding-left: 5px;
  display:inline-flex;

 
  padding:10px;

 
}

.question-section{
  /* Change background color */
  background-color:#f8f7e8;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;

  width: 70%;

}