body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

form{
margin-left: 150px;
}

.no-outline {
  border-radius: 19px;
  outline: none;
  color: #E38150;



}

.App {
  /* text-align: center; */
  margin: auto;
  padding-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif


 }
 .App-header{
   color: #9fcad8; 
 }
.data{
  color: #fcac89;
}