* {
    background-color: #dbe6db;
    font-family: Arial;
    font-size: 20px;
 
  
}
.top{ 
    margin-top:0px;
}
.title{ 
    margin-bottom:0px;
    margin-top:0px;
}

h2 {
    color: #71a471;
    font-family: cursive !important;
    margin-bottom: 0;
    font-size: 50px
    
}

h3 { 
    color: #b39d24;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size: 30px;
    
}

h4{
    color: #836853;
    font-family:fantasy; 
    margin-bottom: 1;
    font-size: 30px;
   
}
.description{ 
    width: 600px; 

}
.left{ 
    float: left;
    margin-right: 80px;
    margin-top:5px;

}

.right{
    margin-left:30px;
}